.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.header h1 {
  margin: 0;
  flex-grow: 1; /* Allow the header text to take up remaining space */
  text-align: center; /* Center the header text */
}

.header .navbar-nav {
  margin-left: auto; /* Push the dropdown to the right */
}

.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
}
